h2 {
  color: grey;
}

.csCard {
  background-color: #222330;
  text-align: center;
  font-family: Arial;
  margin: 1rem;
}

.csColorWhite {
  color: white;
}

.csColorGrey {
  color: grey;
}

.csProfilePicture {
  width: 4rem;
}
