h2 {
  color: grey;
}

.csCardADM {
  background-color: #222330;
  border-color: grey;
  text-align: center;
  font-family: Arial;
  margin: 1rem;
}

.csTitle {
  color: grey;
}

.csDiscription {
  color: grey;
}

.csPrice {
  color: magenta;
}

.icon {
  color: white;
  margin-left: 1rem;
  margin-right: 1rem;
}

.csProfilePicture {
  width: 4rem;
}
