.csInput {
  background-color: #222330;
  border-color: darkviolet;
}

.csLabel {
  color: grey;
  font-weight: bold;
}

.csButton {
  background-color: magenta;
  color: white;
}

.csFileUploadButton::before {
  content: "Selecionar arquivos";
  background-color: darkviolet;
  color: white;
  padding: 2rem;
}

.csFileUploadButton::-webkit-file-upload-button {
  visibility: hidden;
}

button,
input {
  overflow: hidden !important;
}
